.gradle
build
*.ipr
*.iws
*.iml
.idea
FitNesseRoot/GradleClasspath/
FitNesseRoot/FitNesse/
FitNesseRoot/PageFooter/
FitNesseRoot/PageHeader/
FitNesseRoot/RecentChanges/
FitNesseRoot/TemplateLibrary/
FitNesseRoot/files/
FitNesseRoot/properties
.vagrant
tmp
out
